.wrapper {
    &.in-from-left {
        animation: var(--slide-in-from-left) 0.5s ease forwards;
        opacity: 1;
    }

    &.in-from-right {
        animation: var(--slide-in-from-right) 0.5s ease forwards;
        opacity: 1;
    }
    
    &.show-item {
        animation: var(--show-item) 0.5s ease-in-out;
        opacity: 1;
    }

    &.out-to-left {
        animation: var(--slide-out-to-left) 0.5s ease forwards;
        opacity: 0;
    }

    &.out-to-right {
        animation: var(--slide-out-to-right) 0.5s ease forwards;
        opacity: 0;
    }

    &.hidden-item {
        animation: var(--hidden-item) 0.5s ease-in-out;
        opacity: 0;
    }
}