@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #5935b3;
    --black: #000;
    --white: #ffffff;
    --border-radius: 20px;
    --background: #333;
    --color-times: #fbef41;

    --slide-in-from-left: slideInFromLeft;
    --slide-in-from-right: slideInFromRight;
    --slide-out-to-right: slideOutToRight;
    --slide-out-to-left: slideOutToLeft;
    --show-item: showItem;
    --hidden-item: hiddenItem;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes showItem {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes hiddenItem {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--white);
    color: var(--black);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--black);
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    color: var(--black);
    text-decoration: none;
}
