@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #5935b3;
    --black: #000;
    --white: #ffffff;
    --border-radius: 20px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--white);
    color: var(--black);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--black);
    text-align: left;
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    color: var(--black);
    text-decoration: none;
}
