.wrapper {
    width: 360px;
    padding: 35px 0 30px 0;

    ul {
        max-height: 430px;
        overflow-y: auto;
        padding: 0 25px;
    }

    li {
        padding: 0 0 20px 0;
        margin-top: 20px;
        border-bottom: 1px solid var(--border-color);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            border: none;
        }

        &.deleting {
            opacity: 0.5;
        }
    }

    div,
    a {
        width: auto;
        padding: 0;
        border: none;
    }

    li:hover a {
        color: var(--black);
    }

    li:hover > div {
        color: var(--second-text);
    }

    img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .content {
        flex-grow: 1;
        font-size: 1.4rem;

        a {
            line-height: 1.428;
            margin-bottom: 5px;
        }
    }

    svg {
        width: 2.2rem;
        height: 2.2rem;
    }

    .control {
        padding: 0 25px;
        margin-top: 35px;

        p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;

            span {
                color: var(--primary);
            }
        }

        .btn-control {
            margin-top: 17px;
            width: 48%;

            &:first-child a {
                color: var(--black);
                background-color: var(--background);
            }

            a {
                border-radius: 0;
                font-size: 1.5rem;
                font-weight: 400;
                border: 1px solid var(--primary);
            }
        }
    }
}
