.wrapper {
    padding: 20px 0;
    border-bottom: 1px solid var(--primary);

    &.changeItem {
        opacity: 0.5;
    }

    .content {
        display: flex;
        justify-content: space-between;
    }

    .box-image {
        position: relative;
        min-width: 80px;
        height: 80px;

        a {
            display: block;
            width: 100%;
            height: 100%;

            &.two-image {
                width: 55%;
                height: 55%;
                position: absolute;

                &:first-child {
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }

                &:last-child {
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                }
            }

            &.three-image {
                width: 55%;
                height: 55%;
                position: absolute;

                &:first-child {
                    bottom: 0;
                    left: 0;
                }

                &:nth-child(2) {
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                }

                &:last-child {
                    bottom: 0;
                    right: 0;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            margin-right: 20px;
        }
    }

    .info-item {
        flex-grow: 1;
        padding-left: 10px;

        span {
            margin-left: 10px;
        }
    }

    h4 {
        font-weight: 400;
        margin-bottom: 5px;
        color: var(--second-text);

        a {
            transition: color 0.3s linear;
        }

        &:hover a {
            color: var(--primary);
        }
    }

    .info-order {
        min-width: max-content;
        margin-left: 20px;
        font-size: 1.5rem;
        font-weight: 500;

        span {
            color: var(--primary);
        }
    }

    .total {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;

        svg {
            font-size: 2.2rem;
            margin-right: 5px;
        }

        span {
            margin-left: 5px;
            font-size: 2.2rem;
            color: var(--primary);
        }
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding-top: 10px;

        > div {
            padding: 7px 15px;
            cursor: pointer;
            border-radius: var(--border-radius);
            color: var(--white);
        }

        .detail-btn {
            color: var(--black);
            background-color: var(--background-sub);
        }

        .cancel-btn {
            background-color: var(--color-times);
        }

        .pay-btn {
            background-color: var(--primary);
        }

        .buy-again {
            border: 1px solid var(--primary);
            color: var(--black);
            background-color: var(--background);
        }
    }
}

.model-order-detail {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.54);
    padding: 30px;

    .status {
        width: 750px;
        margin: auto;
        padding-bottom: 30px;
        position: relative;

        .items-status {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        .item {
            text-align: center;

            &.success {
                .text {
                    color: var(--black);
                }

                .icon {
                    color: #2dc258;
                    border-color: #2dc258;
                }
            }
        }

        .icon {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            width: 40px;
            height: 40px;
            align-items: center;
            border-radius: 50%;
            border: 4px solid var(--second-text);
            color: var(--second-text);
            background-color: var(--white);
            font-size: 1.875rem;
        }

        svg {
            width: 2rem;
            stroke: currentColor;
            fill: currentColor;
        }

        .text {
            font-size: 1.5rem;
            margin-top: 20px;
            text-transform: capitalize;
            color: var(--second-text);
        }

        .line {
            position: absolute;
            top: 20px;
            left: 70px;
            right: 0;
            height: 4px;
            background-color: #2dc258;
            z-index: 0;
            transform: translateY(-50%);
            transition: width 0.4s ease;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        .item {
            display: flex;
            justify-content: space-between;

            img {
                width: 70px;
                height: 70px;
                border: 1px solid var(--border-color);
                border-radius: var(--border-radius);
            }
        }

        .info-item {
            width: 420px;
        }

        .status-text {
            width: 190px;
            padding-left: 10px;

            > div:first-child {
                color: #2dc258;
                font-weight: 500;
                font-size: 1.4rem;
            }

            span {
                font-weight: 500;
            }
        }

        .control {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            margin-bottom: 20px;

            > div {
                padding: 5px 10px;
                border: 1px solid transparent;

                &:hover {
                    cursor: pointer;
                    opacity: 0.9;
                }
            }

            .btn-review {
                background-color: var(--primary);
                color: var(--white);
            }

            .contact {
                background-color: var(--background);
                border-color: var(--primary);
                color: var(--primary);
            }
        }
    }

    .products {
        width: 720px;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        overflow-y: auto;
    }

    .bill-address {
        width: 500px;

        & > p {
            font-size: 1.8rem;
            font-weight: 500;
            padding-bottom: 10px;
        }

        .bill {
            margin-bottom: 20px;

            & > div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;

                & > div {
                    display: flex;
                    align-items: center;
                }
            }

            .money {
                color: #2dc258;
                font-weight: 500;
                font-size: 1.7rem;
            }

            svg {
                margin-right: 5px;
            }

            .payment-method {
                font-weight: 500;
            }
        }

        .address > div:first-child {
            font-weight: 500;
        }
    }
}
