.wrapper {
    padding-top: 40px;

    h2 {
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    li {
        padding: 0;
        margin-bottom: 10px;

        &:hover div {
            color: var(--black);
        }

        img {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            margin-right: 10px;
        }

        h4 > span {
            color: var(--second-text);
            font-weight: 400;
        }
    }
}