.wrapper {
    width: 100%;
    padding: 50px var(--horizontal-spacing-content);
}

.title {
    font-weight: 500;
    margin-bottom: 10px;
}

.product-shop {
    margin-top: 30px;

    .list-product {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .product-item {
            width: 20%;
            height: auto;
            margin-top: 20px;
            border: 1px solid transparent;
            transition: border 0.3s linear;

            &:hover {
                border: 1px solid var(--border-color);
            }

            img {
                width: 100%;
                height: 180px;
            }

            > div:nth-child(3) {
                width: calc(100% + 2px);
            }
        }
    }
}

@media screen and (max-width: 46.1875em) {
    .wrapper {
        padding: 40px var(--horizontal-spacing-mobile);

        .product-item img {
            height: auto !important;
            aspect-ratio: 1/1;
        }
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .wrapper {
        padding: 40px var(--horizontal-spacing-mobile);

        .product-item img {
            height: auto !important;
            aspect-ratio: 1/1;
        }
    }
}
