.wrapper {
    width: 400px;
    height:400px;
    padding: 20px 40px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    color: var(--black);
    border: 2px solid var(--primary);
    text-align: center;

    .title {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 10px 0;
    }

    .des {
        margin-bottom: 30px;
        color: var(--second-text);
    }
}